{% extends 'base.html.twig' %}

{% block title %}Réinitialiser son mot de passe{% endblock %}


{% block stylesheets %}
<link rel="stylesheet" href="/asset/css/request.css">
{% endblock %}


{% block body %}


{% for flash_error in app.flashes('reset_password_error') %}
<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}


<div class="conteneur">

    <div class="blocReinitialisation">

        <h1>Réinitialisez votre mot de passe</h1>

        {{ form_start(requestForm) }}

        <div class="formulaireReinitialisation">
            {{ form_row(requestForm.email) }}
        </div>

        <div class="texteReinit">
            <small>
                Entrez votre adresse e-mail et nous vous enverrons un
                lien pour réinitialiser votre mot de passe.
            </small>
        </div>

        <div class="boutonReinitialisation">
            <button id="btnReinit">Envoyer un e-mail de réinitialisation du mot de passe</button>
        </div>

        {{ form_end(requestForm) }}

    </div>

</div>

{% endblock %}