.blocFormulaireInscription {
    display: flex;
    padding: 100px;
    justify-content: center;

}

.blocInscriptionConnexion {

    display: flex;
    padding: 20px;
    border: solid black 2px;
    background-color: black;
}

.formulaire_Inscription {
    display: inline-block;
    padding: 40px;
    border-radius: 30px;
    border: solid #E0B973 10px;
    background-color: black;
    width: 50%;
}

.form {
    display: inline-block;
    padding: 50px;
    color: white;
    background-color: black;
    border: solid black 2px;
    width: 100%;
}

.blocInscription {
    display: flex;
    justify-content: center;
    color: white;
    padding: 30px;
    border-bottom: solid #E0B973 3px;
    border-right: solid #E0B973 3px;
    width: 50%;
}

.blocConnexion {
    display: flex;
    justify-content: center;
    color: white;
    padding: 30px;
    border-bottom: solid #E0B973 3px;
    border-left: solid #E0B973 3px;
    width: 50%;
}

#cgv {

    margin: 30px;
}


.boutonInscription {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#btnInscription {

    border: solid #E0B973;
    color: black;
    font-weight: bold;
    background-color: #E0B973;
    border-radius: 5px;
    padding: 10px;
    width: 50%;
    
}